* {
    box-sizing:border-box;
}

.container{
    background-color: #07575B;
    height:250px;
    margin:10px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    align-content: center;
}

.container > div{
    background-color: #66a5ad;
    color: aliceblue;
    text-align: center;
    padding: 20px;
    margin: 1px;
    border: 3px #c4dfe6 solid;
    /* flex-grow: 1; */
    /* flex-shrink: 1; */
    /* flex-basis: 200px; */
    /* above three lines are equal to */
    flex: 1 1 200px;
}

#facebook{
    font-size:smaller;
}

/* #apple{
    flex-shrink: 2;
} */