
html{
    height: 100%;
    background: radial-gradient(circle, #fff, #ccc);
}

#container{
    height: 410px;
    width: 600px;
    margin: 100px auto;
    background-color: #99CEEC;
    border-radius: 10px;
    padding: 20px;
    /* box-shadow: [offsetX, offsetY, blurRadius, spreadRadius [optional], color] */
    box-shadow: 0px 4px 0px 0px #009de4;
    -moz-box-shadow: 0px 4px 0px 0px #009de4;
    -webkit-box-shadow: 0px 4px 0px 0px #009de4;
    position: relative;
}

#score{
    color: #A6A759;
    padding: 11px;
    background-color: #F3F78F;
    box-shadow: 0px 4px 0px 0px #9AA051;
    -moz-box-shadow: 0px 4px 0px 0px #9AA051;
    -webkit-box-shadow: 0px 4px 0px 0px #9AA051;
    position: absolute;
    left: 500px;
}

#correct{
    position:absolute;
    left: 260px;
    background-color: green;
    color: white;
    padding:11px;
    display: none;
}

#wrong{
    position:absolute;
    left: 250px;
    background-color: red;
    color: white;
    padding:11px;
    display: none;
}

#question{
    height:150px;
    width:450px;
    background-color: #9CA4EE;
    box-shadow: 0px 4px 0px 0px #525EA8;
    -moz-box-shadow: 0px 4px 0px 0px #525EA8;
    -webkit-box-shadow: 0px 4px 0px 0px #525EA8;
    margin: 50px auto 10px auto;
    font-size: 100px;
    text-align: center;
    font-family: cursive, sans-serif;
    color: black;
    line-height: 150px;
}
#instruction{
    height:50px;
    width:450px;
    margin: 10px auto;
    background-color: #B78ADD;
    text-align: center;
    line-height: 50px;
    box-shadow: 0px 4px #8153a8;
    -moz-box-shadow: 0px 4px #8153a8;
    -webkit-box-shadow: 0px 4px #8153a8;
}

#choices{
    height: 100px;
    width: 450px;
    margin: 5px auto;
}

.box{
    width: 85px;
    height: 85px;
    background-color: #fff;
    float:left;
    margin-right: 36px;
    border-radius: 3px;
    box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.2);
    cursor: pointer;
    text-align: center;
    line-height: 80px;
    color: #A8A29F;
    position: relative;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
}


.box:nth-child(4){
    margin-right: 0px;
}

.box:hover, #resetstart:hover{
    background-color: #9D90FB;
    color: #fff;
    box-shadow: 0px 4px #6b54d3;
    -moz-box-shadow: 0px 4px #6b54d3;
    -webkit-box-shadow: 0px 4px #6b54d3;
}
.box:active, #resetstart:active{
    box-shadow: 0px 0px #6b54d3;
    -moz-box-shadow: 0px 0px #6b54d3;
    -webkit-box-shadow: 0px 0px #6b54d3;
    top: 4px;
}

#resetstart{
    position: relative;
    width: 78px;
    background-color: rgba(255,255,255,0.5);
    margin:0 auto;
    border-radius: 3px;
    box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.2);
    cursor: pointer;
    text-align: center;
    color: #000;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    padding: 10px;
}

#timeremaining{
    width: 152px;
    padding: 10px;
    position: absolute;

    top: 400px;
    left: 450px; 
    color: #fff;
    background-color: rgba(181, 235, 36, 0.78);
    border-radius: 3px;
    box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.2);
    /* visibility: hidden; */
    display: none;
}

#gameover{
    height: 200px;
    width: 500px;
    background: linear-gradient(to bottom, #F3CA6B, #eb5241);
    text-align: center;
    color: white;
    font-size: 2.5em;
    text-transform: uppercase;
    position: absolute;
    left: 70px;
    top:100px;
    z-index:2;
    display: none;
}